*{
    margin: 0;
    padding: 0;    
}

body{
    margin: auto;
    width: 900px;
    height: 1450px;   
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.estilo1{
	background-color: #0074FF;
    height: 200px;
    width: 100px; 
    float: left; 
}
.estilo2{
	background-color: #FF0000;
    height: 200px;
    width: 100px; 
    float: left;  
}
.estilo3{
	background-color: #B5B5B5;
    height: 200px;
    width: 100px; 
    float: left;  
}
#estilo1{
    background-color: #000000;
    height: 300px;
    width: 600px; 
    float: left;  
}
#estilo2{
    background-color: #ffd000;
    height: 300px;
    width: 300px; 
    float: left;  
}
#estilo3{
    background-color: #80a166;
    height: 200px;
    width: 900px; 
    float: left;  
}
.estilo4{
    background-color:  #ffd000;
    height: 150px;
    width: 300px; 
    float: left;  
}
.estilo5{
    background-color: #000000;
    height: 150px;
    width: 300px; 
    float: left;  
}
article{
    background-color: #0074FF;   
    width: 500px;
    height: 400px;
    float: left;
   
}
aside{
	background-color: #FF0000;    
    width: 400px;
    height: 400px;
    float: left;
}
